{% extends "base.html" %} {% block title %}Credits{% endblock %}

{% block container %}
<h1>Credits</h1>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.discordapp.net/attachments/831123721473359872/841334122680156174/ho.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Tools used</h5>
          <p>This website was made in flask and python.It was hosted on heroku</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://media.discordapp.net/attachments/831123721473359872/841332811268096050/ho.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Made By</h5>
          <p>This website was made by Realhardik18. You can visit his website by clicking <a href="https://realhardik18.github.io">here</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://media.discordapp.net/attachments/831123721473359872/841334841323552808/ho.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Artworks</h5>
          <p>All art works were made in 3D paint by <a href="https://realhardik18.github.io">Realhardik18</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}